body{
	background-image: url(bck.jpg);
	background-size: cover;
}

.landing-form{
      justify-content: center;
}

.list{
     display: 50%;

}

#student{
	border: 2px solid grey;
	padding:0px 0px 0px 0px ;
}


input[type=text]{
	width: 50%;
}
input[type=email]{
	width: 50%;
}
input[type=submit]{
	background-color: rgba(45, 136, 45, 1);
	color: #2FDF2F;
	align-items: center;
	width: 10em;  height: 2em;
}